HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/reactApp/springapp/.vscode/

# dependencies
/reactApp/springapp/node_modules
/reactApp/springapp/.pnp
/reactApp/springapp/.pnp.js

# testing
/reactApp/springapp/coverage

# production
/reactApp/springapp/build

# misc
/reactApp/springapp/.DS_Store
/reactApp/springapp/.env.local
/reactApp/springapp/.env.development.local
/reactApp/springapp/.env.test.local
/reactApp/springapp/.env.production.local

/reactApp/springapp/npm-debug.log*
/reactApp/springapp/yarn-debug.log*
/reactApp/springapp/yarn-error.log*
